<h1>The Lineages and Histories of the Great Houses of the Known World</h1>
<p>The Not Yet Quite Complete or Ready Version</p>

<% if @current_user.present? %> <!-- If the user is logged in -->
  Welcome back <%= @current_user.email %>! <!-- Message displayed to show 'Welcome Back User's email address' -->
<% end %>
